/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

//custom code after here
$srijan-horz-color: orange;
$srijan-vert-color: rgba(11, 50, 126, 1);

.container{
  width: 540px;
  height: 440px;
  padding: 0 10px;
  &:hover{
    div{
      // outline: 1px solid black;
    }
  }
}
.line{
  background: transparent;
  margin: 5% auto;
  .item1, .item2{
    background: $srijan-horz-color;
  }
}
.column{
  // background: $srijan-vert-color;
  width: 10%;
  height: 80%;
  margin-left: 55%;
}
.item1, .item2{
  width: 50%;
  height: 100%;
  float: left;
}
.line1{
  width: 15%; 
  height: 8%;
  -webkit-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  transform: skewY(-4deg);
  .item1{
    border-top-right-radius: 0.3076923076923066% 0%;
    border-bottom-left-radius: 75.076923% 72.91666666666667%;
    height: 90%;
    position: relative;
    left: 10%;
    -webkit-transform: skewX(15deg);
    -o-transform: skewX(15deg);
    -moz-transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    transform: skewX(15deg);
  }
  .item2{
    -webkit-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    height: 90%;
    border-bottom-right-radius: 28% 16%;
    border-top-right-radius: 7% 20%;
  }
}
.line2{
  width: 40%;
  height: 12%;
  -webkit-transform: rotateZ(-5deg);
  -o-transform: rotateZ(-5deg);
  -moz-transform: rotateZ(-5deg);
  -ms-transform: rotateZ(-5deg);
  transform: rotateZ(-5deg);
  .item1{
    border-top-left-radius: 8.935484%;
    border-bottom-left-radius: 78.483871% 80.777778%;
    -webkit-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg);
    height: 87%;
    width: 40%;  }
  .item2{
    -webkit-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
    border-bottom-right-radius: 54.30107526881721% 67.9245283018868%;
    border-bottom-left-radius: 56% 23%;
    width: 60%;
    position: relative;
    left: -7px;
    top: -2px;
  }
}
.line3{
  width: 70%;
  height: 12%;
  -webkit-transform: rotateZ(-3deg);
  -o-transform: rotateZ(-3deg);
  -moz-transform: rotateZ(-3deg);
  -ms-transform: rotateZ(-3deg);
  transform: rotateZ(-3deg);
  .item1{
    border-bottom-left-radius: 58.05043728552132% 45.614035087719294%;
    border-top-left-radius: 8.433119158878505% 21.052631578947366%;
    border-bottom-right-radius: 4.566385144385222% 64.91228070175438%;
    border-top-right-radius: 6.902833742516066% 38.59649122807017%;
    -webkit-transform: rotateZ(-3deg) skewX(28deg);
    -o-transform: rotateZ(-3deg) skewX(28deg);
    -moz-transform: rotateZ(-3deg) skewX(28deg);
    -ms-transform: rotateZ(-3deg) skewX(28deg);
    transform: rotateZ(-3deg) skewX(28deg);
    position: relative;
    left: 46px;
  }
  .item2{
    -webkit-transform: rotateZ(3deg) skewX(-40deg);
    -o-transform: rotateZ(3deg) skewX(-40deg);
    -moz-transform: rotateZ(3deg) skewX(-40deg);
    -ms-transform: rotateZ(3deg) skewX(-40deg);
    transform: rotateZ(3deg) skewX(-40deg);
    border-bottom-right-radius: 69.200342% 69.714286%;
    border-top-right-radius: 7.519977168949779% 10.714285714285714%;
    position: relative;
    top: -2px;
    border-top-left-radius: 10%;
    left: -9px;
  }
}
.line4{
  width: 100%;
  height: 17%;
  -webkit-transform: rotateZ(1deg);
  -o-transform: rotateZ(1deg);
  -moz-transform: rotateZ(1deg);
  -ms-transform: rotateZ(1deg);
  transform: rotateZ(1deg);
  position: relative;
  margin-bottom: 2%;
  // border-radius: 50%;
  // background: orange;
  .item1{
    border-bottom-left-radius: 27.386810302734375% 52.459016393442624%;
    border-top-left-radius: 13.958239% 16.39344262295082%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 20% 63%;
    -webkit-transform: skewX(16deg);
    -o-transform: skewX(16deg);
    -moz-transform: skewX(16deg);
    -ms-transform: skewX(16deg);
    transform: skewX(16deg);
    height: 70%;
    position: relative;
    top: 10%;
    left: 10%;
  }
  .item2{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 75%;
    position: relative;
    top: 10%;
    left: 15%;
  } 
  .item3{
    position: absolute;
    width: 105%;
    height: 100%;
    left: 10%;
    background: orange;
    border-radius: 50%;
  }
}
.line5{
  .item1{
    float: none;
    width: 100%;
    height: 50%;
    background: $srijan-vert-color;
    border-top-left-radius: 58.2089552238806% 25%;
    border-top-right-radius: 23.88059701492537% 8.601919210182047%;
    -webkit-transform: skewY(-7deg) skewX(2deg);
    -o-transform: skewY(-7deg) skewX(2deg);
    -moz-transform: skewY(-7deg) skewX(2deg);
    -ms-transform: skewY(-7deg) skewX(2deg);
    transform: skewY(-7deg) skewX(2deg);
  }
  .item2{
    float: none;
    width: 100%;
    height: 50%;
    background: $srijan-vert-color;
    border-bottom-left-radius: 88.88888888888889% 37.66233766233766%;
    border-bottom-right-radius: 9.523809523809518% 3.4632034632034703%;
    border-top-right-radius: 20%;
    -webkit-transform: skewY(6deg) skewY(6deg) rotateZ(3deg);
    -o-transform: skewY(6deg) skewY(6deg) rotateZ(3deg);
    -moz-transform: skewY(6deg) skewY(6deg) rotateZ(3deg);
    -ms-transform: skewY(6deg) skewY(6deg) rotateZ(3deg);
    transform: skewY(6deg) skewY(6deg) rotateZ(3deg);
    position: relative;
    top: -29px;
  } 
}